<div *ngIf="customer">
  <h2>
    <button (click)="left()"><</button>
      {{customer.customerID}}
    <button (click)="right()">></button>
  </h2>

  <fieldset>
    <label for="customerID">
      Customer ID:
      <input id="customerID" [(ngModel)]="customer.customerID" placeholder="Customer ID">
    </label>
  </fieldset>

  <!-- <br>
  <label><input type="checkbox" [(ngModel)]="showName"/>Show Name</label> -->

  <div>
    <h3>Name:</h3>
    <my-name [name]="customer.birthday"></my-name>
  </div>

</div>
