<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<!--  Fonts and icons     -->
<!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"> -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

<div *ngIf="customer">
  <h2>
    <a (click)="left()">
      <i class="material-icons">
        arrow_left
      </i>
    </a>
    {{customer.name.first}} {{customer.name.last}}
    <a (click)="right()">
      <i class="material-icons">
        arrow_right
      </i>
    </a>
    <!-- <button (click)="right()">></button> -->
  </h2>

  <fieldset>
    <label for="customerID">
      Customer ID:
      <input id="customerID" [(ngModel)]="customer.customerID" placeholder="Customer ID" class="form-control" disabled>
    </label>
  </fieldset>
  <fieldset>
    <label for="Birthday">
      Birthday:
      <input id="Birthday" [(ngModel)]="customer.birthday" placeholder="Birthday">
    </label>
  </fieldset>
  <fieldset>
    <label for="Gender">
      Gender:
      <input id="Gender" [(ngModel)]="customer.gender" placeholder="Gender">
    </label>
  </fieldset>
  <fieldset>
    <label for="lastContact">
      Last Contact:
      <input id="lastContact" [(ngModel)]="customer.lastContact" placeholder="Last Contact">
    </label>
  </fieldset>
  <fieldset>
    <label for="customerLifetimeValue">
      Customer Lifetime Value:
      <input id="customerLifetimeValue" [(ngModel)]="customer.customerLifetimeValue" placeholder="Customer Lifetime Value">
    </label>
  </fieldset>

  <br>
  <label><input type="checkbox" [(ngModel)]="showName"/>Show Name</label>

  <div *ngIf="showName">
    <my-name [name]="customer.name"></my-name>
  </div>
</div>
